<!DOCTYPE html>
<html>
  <head>
    <title> <%= @title %> </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= "flash error #{flash[:error]}" %>
    </br>
    User courant <%= session[:user] %>
    </br>
    <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>

    <%= yield %>

    <%= link_to "Liste de users", users_path %> <%= link_to "Liste des events", events_path %>
  </body>
</html>
